<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CloseWKGesture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCB796321DF6CD9C00CB4C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB7964B1DF6CD9D00CB4C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB796561DF6CD9D00CB4C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
